<!DOCTYPE html>
<html lang="en" ng-app="DM">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directives</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
    <main-header colorize color="pink" background="black">I'm a header!</main-header>
    <main-nav></main-nav>

    <div class="mouse-events">
      <mouse-text></mouse-text>
      <hover-text></hover-text>
      <clickable-button></clickable-button>
    </div>

    <p ng-hide="num">No Number Selected</p>

    <p colorize color="pink" background="black">Colorize Test</p>

    <div ng-if="num">
      <p ng-show="num % 2 !== 0">Num is odd </p>
      <p ng-show="num % 2 === 0">Num is even</p>
      <p ng-show="num">Num selected: {{ num }}</p>
    </div>

    <form class="form" action="warmups.html" method="post">
      <div class="radio">
        <label>
          <input type="radio" name="radio-select" ng-model="num" value="1"> 1
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radio-select" ng-model="num" value="2"> 2
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radio-select" ng-model="num" value="3"> 3
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radio-select" ng-model="num" value="4"> 4
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radio-select" ng-model="num" value="5"> 5
        </label>
      </div>
    </form>

    <copyright year="1985">Company name...</copyright>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/directives/main_nav.js" charset="utf-8"></script>
    <script src="js/directives/main_header.js" charset="utf-8"></script>
    <script src="js/directives/copyright.js" charset="utf-8"></script>
    <script src="js/directives/colorize.js" charset="utf-8"></script>
    <script src="js/directives/mouse_text.js" charset="utf-8"></script>
    <script src="js/directives/hover_text.js" charset="utf-8"></script>
    <script src="js/directives/clickable_button.js" charset="utf-8"></script>
  </body>
</html>
