<h3>In Directive Template </h3>

<p>dir scopePrimOneWay: {{ oneWayPrim }}</p>
<p>dir twoWayPrim: {{ twoWayPrim }}</p>
<p>dir oneWayObj: {{ oneWayObj }}</p>
<p>dir twoWayObj: {{ twoWayObj.test }}</p>

<input ng-model="oneWayPrim" type="text">
<input ng-model="twoWayPrim" type="text">
<input ng-model="oneWayObj" type="text">
<input ng-model="twoWayObj.test" type="text">

<form ng-submit="submitCallback()">
  <input ng-model="name" type="text">
  <input type="submit" name="Submit" value="Submit">
</form>
